In [1]:
import pandas as pd
import sqlite3 as db
from sklearn.linear_model import LinearRegression

In [2]:
with open("sqlite.txt") as data:
    content = data.read()
    content_ref = content.replace('(','').replace(')','').replace('\\', '').split("\n")
    print(content_ref)

['"iphone", 499 , 2, 2007', '"iphone 3G ", 499 , 2, 2008', '"iphone 3GS", 599 , 3, 2009', '"iphone 4", 649 , 5, 20010', '"iphone 4S", 649 , 5, 2011', '"iphone 5", 649 , 6, 2012', '"iphone 5C", 549 , 7, 2013', '"iphone 5s", 649 , 7, 2013', '"iphone 6", 649 , 8, 2014', '"iphone 6 Plus", 749 , 8, 2014', '"iphone 6s", 649 , 9, 2015', '"iphone 6s Plus", 749 , 9, 2015', '"iphone SE", 399 , 9, 2016', '"iphone 7", 649 , 10, 2016', '"iphone 7 Plus", 769 , 10, 2016', '"iphone 8", 699 , 11, 2017', '"iphone 8 Plus", 799 , 11, 2017', '"iphone X", 999 , 11, 2017', '"iphone XR", 749 , 12, 2018', '"iphone XS", 999 , 12, 2018', '"iphone XS Max", 1099 , 12, 2018', '"iphone 11", 699 , 13, 2019', '"iphone 11 Pro", 999 , 13, 2019', '"iphone 11 Pro Max", 1099 , 13, 2019', '"iphone SE 2nd Gen", 399 , 14, 2020', '"iphone 12 mini", 999 , 14, 2020', '"iphone 12", 799 , 14, 2020', '"iphone 12 Pro", 999 , 14, 2020', '"iphone 12 Pro Max", 1099 , 14, 2020', '"iphone 13 mini", 699 , 15, 2021', '"iphone 13", 799 , 15, 2021', '"iphone 13 Pro", 999 , 15, 2021', '"iphone 13 Pro Max", 1099 , 15, 2021', '"iphone 14", 799 , 16, 2022', '"iphone 14 Plus", 899 , 16, 2022', '"iphone 14 Pro", 999 , 16, 2022', '"iphone 14 Pro Max ", 1099 , 16, 2022']

In [3]:
conn = db.connect ("sqlite1.db")

In [4]:
curs = conn.cursor()

In [5]:
#  curs.execute(""" CREATE TABLE  iphoness(
#     iphone_name  varchar(50),
#     iphone_price int,
#     iphone_version float,
#     iphone_year_of_release int
#     )""")

In [6]:
 for item_data in content_ref:
   query = f"INSERT INTO iphoness VALUES({item_data})"
   curs.execute(query)

In [7]:
curs.execute("SELECT * FROM iphoness")

In [8]:
conn.commit()
conn.close()

In [9]:
con = db.connect("sqlite1.db")
df_Items = pd.read_sql_query("select * from iphoness", con)


df_Items

            iphone_name  iphone_price  iphone_version  iphone_year_of_release
0                iphone           499             2.0                    2007
1            iphone 3G            499             2.0                    2008
2            iphone 3GS           599             3.0                    2009
3              iphone 4           649             5.0                   20010
4             iphone 4S           649             5.0                    2011
..                  ...           ...             ...                     ...
180   iphone 13 Pro Max          1099            15.0                    2021
181           iphone 14           799            16.0                    2022
182      iphone 14 Plus           899            16.0                    2022
183       iphone 14 Pro           999            16.0                    2022
184  iphone 14 Pro Max           1099            16.0                    2022

[185 rows x 4 columns]

In [10]:
model = LinearRegression()
model.fit(df_Items[['iphone_version']], df_Items[['iphone_price']])
print(model.predict([[45]]))

[[1897.73616154]]

C:\Users\User 1\AppData\Roaming\Python\Python311\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(